@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DM-Mono';
    src: url('/public/fonts/DMMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'DM-Mono-medium';
    src: url('/public/fonts/DMMono-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal; 
}

@font-face {
    font-family: 'DM-Mono-medium-italic';
    src: url('/public/fonts/DMMono-MediumItalic.ttf') format('truetype');
    font-weight: medium;
    font-style: italic; 
}

@font-face {
    font-family: 'Anton';
    src: url('/public/fonts/Anton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

html{
    position:relative;
    overflow-x: hidden;
}

body{
    background-color:#F1ECDA;
    font-family: DM-Mono;
    overflow-x: hidden;
}


@media (min-width: 	340px) {
    html,body {
      overflow-x: hidden;
    }
}

@media (min-width: 	500px) {
    html,body {
      overflow-x: hidden;
    }
}

@media (min-width: 	640px) {
    html,body {
      overflow-x: hidden;
    }
}

@media (min-width: 	768px) {
    html,body {
      overflow-x: hidden;
    }
}

@media (min-width: 	1024px) {
    html,body {
      overflow-x: hidden;
    }
}

@media (min-width: 	1280px) {
    html,body {
      overflow-x: hidden;
    }
}

@media (min-width: 	1536px) {
    html,body {
      overflow-x: hidden;
    }
}

@supports (-webkit-overflow-scrolling: touch) {
    html,body {
        overflow-x: hidden !important;
    }
}